.img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 20%;
    border-radius: 10px;
    float: inline-start;
    object-fit: contain;
}
.fullname {
    font-family: monospace;
    font-size: 40px;
    -webkit-text-stroke: 0.6px rgb(255, 255, 255);
}
.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.btn {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border: 3px solid rgb(41, 41, 39);
  margin: 0;
  position: fixed;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}